body {
  /* background-color: #81a69b; */
  /* background-image: url('../../public/backgroundpets.jpeg'); */
   /* background-image: url('../../public/spaceOne.jpeg'); */
	margin: 0;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}

.game {
  background-image: url('../../public/spaceOne.jpeg');
}

.home-page {
  background-image: url('../../public/backgroundpets.jpeg');
  min-height: 100vh;
}

/* .lose-background .modal-content  {
  
 
  background-image: url('../../public/game-is-over-dude.jpeg');
  padding: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
} */

/* .modal-body {
  background-image: url('../../public/game-is-over-dude.jpeg');
} */

/* .modal-backdrop {
  background-image: url('../../public/game-is-over-dude.jpeg');
} */

/* .modal-content {
  background-image: url('../../public/game-is-over-dude.jpeg');
} */

